body
    font-family: 'Work Sans', sans-serif

.header 
    background: #79105a

    &__container
        max-width: 1660px
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto

.navigation

    &__container
        max-width: 1660px
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto
        border-top: 1px solid #fff

.menu
    &__ul
        display: flex
        align-items: center
        justify-content: flex-start

    &__item
        padding: 15px

    &__link
        font-size: 21px
        color: #ecc6e4
        font-weight: 600


.search
    &__input
        background: transparent
        border: none
        min-height: 48px
        min-width 300px

        &::placeholder
            font-size: 19px
            line-height: normal
            color: #ecc6e4
            font-weight: 400

    &__button
        background: transparent
        border: none
        color: #ecc6e4
        min-width 48px
        height 48px


.attendance
    &__link
        font-size: 19px
        line-height: normal
        color: #ecc6e4
        font-weight: 400
        text-transform: uppercase
        padding: 0 15px
        

.main
    &__container
        max-width: 1660px
        display: block
        margin: 0 auto
        padding-top: 10px

.title
    display block

    font-size: 25px
    line-height: normal
    color: #000000
    font-weight: 400

    &__big
        font-size: 46px
        line-height: normal
        color: #000000
        font-weight: 600

    &__small
        font-size: 16px
        letter-spacing: 5px
        line-height: normal
        color: #000000
        font-weight: 400

    &__vitrine
        display: block
        text-align: center
        margin-bottom 30px
        text-decoration: underline

    &__depoimentos
        display: block
        font-size: 25px;
        letter-spacing: 8px;
        line-height: normal;
        color: #000000;
        font-weight: 600;
        text-transform: uppercase
        margin-bottom: 30px

        &:before
            content: ''
            display: block
            width 100%
            height 2px
            background: #000
.block
    display: flex
    justify-content: space-between

    &__left
        max-width 930px

        .title
            margin-bottom: 15px

        &--bottom
            display: flex
            align-items: center
            justify-content:    space-between

        &--top
            margin-bottom 50px

    &__center
        max-width 280px

    &__right
        max-width 300px

.podcasts
    margin: 30px 0

    &__ul
        display: flex
        align-items: stretch
        justify-content: space-between

    &__item
        flex: 0 0 320px

.curso
    margin: 30px 0

    &__ul
        display: flex
        align-items: stretch
        justify-content: space-between

    &__item
        flex: 0 0 320px

.price
    background-color: #79105a
    margin-top: -4px
    text-align: center
    padding: 5px 0
    margin-bottom 10px

    span 
        font-size: 25px
        letter-spacing: 1px
        line-height: normal
        color: #ecc6e4
        font-weight: 400

.newsletter
    background-color: #9c6b80
    box-shadow: 900px 0  0 #9c6b80, -900px 0 0 #9c6b80
    padding: 50px 0
    
    &__title
        font-size: 15px
        letter-spacing: 7px
        line-height: normal
        color: #ecc6e4
        font-weight: 500

    &__description
        font-size: 30px
        letter-spacing: 3px
        line-height: normal
        color: #ecc6e4
        font-weight: 500
        text-align: center

    &__content
        display: block
        text-align: center
        max-width 900px
        margin: 0 auto
        padding: 15px

.sociais
    margin: 30px 0

    &__title
        display: block
        font-size: 35px
        letter-spacing: 4px
        line-height: normal
        color: #460f48
        font-weight: 500
        text-align: center

.footer
    background-color: #b3799f
    padding: 30px 0

    &__container
        max-width: 1660px
        margin: 0 auto
        display: block

    &__content
        border-bottom: solid 1px #ecc6e4
        margin-bottom 15px
        padding-bottom 15px

    &__title
        display: block
        font-size: 21px
        line-height: normal
        color: #ecc6e4
        font-weight: 500
     
    &__link
        font-size: 21px
        line-height: normal
        color: #ecc6e4
        font-weight: 500

@media (max-width:992px)
    .header
        display: none

    .main
        &__container
            padding: 0 15px

    .title
        &__big
            font-size: 30px
            
    .block
        flex-wrap: wrap
        justify-content: center

        &__left 
            max-width: none
            flex: 0 0 100%
            width: 100%

            &--bottom
                flex-wrap: wrap

        &__center
            flex: 1    
            max-width none

            ul
                display: flex
                flex-wrap: wrap

                li
                    flex: 0 0 50%
                    padding: 7px

        &__right
            flex: 0 0 100%
            max-width none

            ul
                display: flex
                flex-wrap: wrap

                li
                    flex: 0 0 50%
                    padding: 7px

    .podcasts
        &__ul
            flex-wrap: wrap

    .curso
        &__ul
            flex-wrap: wrap

    .newsletter
        background-color: #9c6b80
        box-shadow: 300px 0  0 #9c6b80, -300px 0 0 #9c6b80

    .footer
        background-color: #b3799f
     

        &__container
            padding: 0 15px


@media (min-width : 993px)
    .block
        &__right
            &--item
                margin-bottom 50px
        
        &__center
            ul
                li
                    margin-bottom 30px