body
    font-family: 'Work Sans', sans-serif

.header 
    background: #79105a

    &__container
        max-width: 1660px
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto

.navigation

    &__container
        max-width: 1660px
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto
        border-top: 1px solid #fff

.menu
    &__ul
        display: flex
        align-items: center
        justify-content: flex-start

    &__item
        padding: 15px

    &__link
        font-size: 21px
        color: #ecc6e4
        font-weight: 600


.search
    &__input
        background: transparent
        border: none
        min-height: 48px
        min-width 300px

        &::placeholder
            font-size: 19px
            line-height: normal
            color: #ecc6e4
            font-weight: 400

    &__button
        background: transparent
        border: none
        color: #ecc6e4
        min-width 48px
        height 48px


.attendance
    &__link
        font-size: 19px
        line-height: normal
        color: #ecc6e4
        font-weight: 400
        text-transform: uppercase
        padding: 0 15px
        

.main
    &__container
        max-width: 1660px
        display: block
        margin: 0 auto


.title
    display block

    font-size: 25px
    line-height: normal
    color: #000000
    font-weight: 400

    &__big
        font-size: 46px
        line-height: normal
        color: #000000
        font-weight: 600

    &__small
        font-size: 16px
        letter-spacing: 5px
        line-height: normal
        color: #000000
        font-weight: 400

.block
    display: flex
    justify-content: space-between

    &__left
        max-width 930px

        .title
            margin-bottom: 15px

        &--bottom
            display: flex
            align-items: center
            justify-content:    space-between

    &__center
        max-width 280px

    &__right
        max-width 300px

.podcasts

    &__ul
        display: flex
        align-items: stretch

.curso
    &__ul
        display: flex
        align-items: stretch

.newsletter
    background-color: #9c6b80

    &__title
        font-size: 18px
        letter-spacing: 7px
        line-height: normal
        color: #ecc6e4
        font-weight: 500

    &__description
        font-size: 50px
        letter-spacing: 3px
        line-height: normal
        color: #ecc6e4
        font-weight: 500
        text-align: center


.footer
    background-color: #b3799f

