.header 
    background: #79105a

    &__container
        max-width: 1300px
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto

.navigation

    &__container
        max-width: 1300px
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto
        border-top: 1px solid #fff

.menu
    
    &__ul
        display: flex
        align-items: center
        justify-content: flex-start

    &__item
        padding: 15px

    &__link
        font-size: 21px
        color: #ecc6e4
        font-weight: 600


.search
    &__input
        background: transparent
        border: none
        min-height: 48px
        min-width 300px

        &::placeholder
            font-size: 19px
            line-height: normal
            color: #ecc6e4
            font-weight: 400

    &__button
        background: transparent
        border: none
        color: #ecc6e4
        min-width 48px
        height 48px


.attendance
    &__link
        font-size: 19px
        line-height: normal
        color: #ecc6e4
        font-weight: 400
        text-transform: uppercase
        padding: 0 15px
        